.Item {
  width: 350px;/* light beige background */
  padding: 10px;             /* optional: adds spacing inside the box */
  border-radius: 12px;       /* optional: rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* subtle shadow */
  transition: background-color 0.3s ease;
}

.Item p{
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.Item img {
  width: 200px;          /* or 100%, or any fixed value */
  height: 300px;         /* fixed height to match all */
  object-fit: cover;     /* crop to fill while preserving aspect ratio */
  border-radius: 10px;   /* optional for rounded edges */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* optional shadow */
}
